@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
  font-family: Roboto;
}

.tela{
  background-color: #f3f3f3;
  height: 100vh;
}

.visibilidade-li{
  display: flex;
  justify-content: space-between;
}

.chat{
  margin-top: 30px;
  margin-bottom: 1px;
}

.mensagem{
  height: 50px;
  width: 100%;
  padding: 15px;
  font-size: 14px;
  margin-top: 5px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.horario{
  color: #a7a7a7;
  margin-right: 5px;
}

.nome, .destinatario{
  font-weight: bold;
  margin-right: 5px;
  margin-left: 5px;
}

.normal{
  background-color: white;
}

.status{
  background-color: #DCDCDC;
}

.reservada{
  background-color: #FFDEDE;
}

.mensagemErro{
  margin-top: 20px;
  color: red;
  margin-left: 15px;
  margin-right: 15px;
}

.login{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #fff;
}

.login img{
  width: 33%;
  margin-top: 100px;
  margin-bottom:100px;
}

.login input{
  text-align: center; 
  width: 260px;
  height: 54px;
  border-radius: 4px;
  border: 0.5px solid #d7d7d7 ;
  margin-bottom: 20px;
}

.login input::placeholder{
  color: #AEAEAE;
}

.login button{
  width: 109px;
  height: 35px;
  border-radius: 9px;
  border: none;
  color: #696969;
}

.menu-superior{
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  box-sizing: border-box;
  height: 80px;
  background-color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
}

#logo-menu{
  width: 75px;
  height: 53px;
}

#participantes{
  width: 40px;
  height: 40px;
  margin-top: 5px;
}

.disable{
  display: none;
}

.modal-lateral-desativado{
  display: none;
}

.divmodal{
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-lateral{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  display: flex;
  overflow-y: scroll;
}

.fundo{
  width: 30%;
  background-color: rgba(0, 0, 0, 0.404);
}

.menu-lateral{
  width: 70%;
  background-color: white;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.menu-lateral h2{
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
}

.menu-lateral ul{
  margin-left: 20px;
}

.menu-lateral li{
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  position: relative;
}

.menu-lateral span{
  margin-left: 20px;
  font-weight: 500;
}

.menu-lateral ion-icon{
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.barra-inferior{
  position: fixed;
  width: 100%;
  bottom: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
  height: 80px;
  background-color: white;
}

.calco{
  height: 80px;
  width: 100%;
  background-color: red;
}

.barra-inferior div{
  display: flex;
  flex-direction: column;
}

.barra-inferior input{
  margin-bottom: 10px;
  border: none;
}

.barra-inferior span{
  margin-left: 3px;
}

.barra-inferior input::placeholder{
  color: #000;
  font-size: 16px;
  font-weight: 600;
}

.barra-inferior input:focus{
  box-shadow: 0 0 0 0;
  outline: 0;
}

.barra-inferior ion-icon{
  width: 26px;
  height: 26px;
}

.desativado{
  display: none;
}

.spinner{
  margin-top: 40px;
  height: 50px;
  width: 50px;
  border: 8px solid rgb(189, 189, 175);
  border-radius: 50%;
  border-left-color: orange;
  animation: loading 1s linear infinite;
}

@keyframes loading{
  to {
    transform: rotate(360deg);
  }
}